* {
	box-sizing: border-box;
}

  html {
    scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background-color: #EDF2EC;
}

h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}
  
.header {
  background-color: #EDF2EC;
  padding-top: 42px;
  padding-bottom: 42px;
  font-family: "Inika", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: black;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 109px;
  padding-right: 109px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: flex-end;
}

.header-logo-img {
  width: 22px;
  height: 20px;
  padding-left: 2px;
}

.header-logo-text {
  font-family: "Inika", serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  height: 17px;
  padding-left: 1px;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 50px;
  padding-inline-start: 0;
  }

.nav-item {
  list-style-type: none;
  text-decoration: none;
  margin-left: 46px;
}

.nav-item-link {
  text-decoration: none;
  color: black;
}

.nav-item-link:hover {
 
  color: #E06733;
  font-weight: 700;
  transition: .5s;
}

.welcom {
  padding-top: 62px;
  padding-bottom: 62px;

}

.welcom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcom-image {
  width: 449px;
  height: 407px;
  background-image: url('./assets/img/leafs.png');
  background-size: cover;
}

.welcom-text-box {
  width: 549px;
  height: 340px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
}

.welcom-text-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  margin-bottom: 42px;
}

.text-green {
  color: #499A18;
}

.btn-welcom {
  width: 158px;
  height: 44px;
  margin-top: 48px;
  border: 2px solid #E06733;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  cursor: pointer;
}

.btn-welcom:hover {
  background-color: #E06733;
  color: #ffffff;
  transition: .5s;
}

.about {
  background-color: white;
  padding-top: 93px;
  padding-bottom: 94px;
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-text-box {
  margin-top: 4px;
  width: 605px;
  height: 350px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #636060;
}


.about-text-title {
  width: 463px;
  font-family: "Inika", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
  margin-bottom: 40px;
}

.text-orange {
  color: #E06733;
}

.about-image {
  width: 464px;
  height: 479px;
  background-image: url('./assets/img/houseplant\ 1.png');
}

.service {
  padding-top: 40px;
  padding-bottom: 121px;
}

.service-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.service-title {
  display: flex;
  justify-content: space-between;
  height: 94px;
  align-items: center;
  flex-wrap: unset;
}

.service-title-text {
  width: 306px;
  height: 94px;
  font-family: "Inika", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  margin-right: 142px;
  color: #499A18;
}

.service-button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.service-list {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  height: 955px;
  margin-top: 90px;
  flex-wrap: wrap;
}

.service-btn {
  width: 161px;
  height: 50px;
  border: 1px solid #E06733;
  border-radius: 5px;
  font-family: "Inika", serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: #E06733;
  margin-right: 38px;
  cursor: pointer;
}

.on-btn {
  background-color: #E06733;
  color: #ffffff;
  transition: .5s;
}

.service-btn:hover {
  background-color: #E06733;
  color: #ffffff;
  transition: .5s;
}

.serice-item {
  width: 330px;
  height: 450px;
}

.service-item-img img{
  display: flex;
  flex-direction: column;
  width: 329px;
  height: 350px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 20px 20px 0px 0px;
  transition: 0.5s;
}

.blur {
  filter: blur(4px);
  transition: 0.5s;
}

.service-item-description {
  display: flex;
  flex-direction: column;
  border: 1px solid #E3E1D5;
  border-radius: 0px 0px 20px 20px;
  height: 100px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
  align-items: center;
}

.service-item-description-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #E06733;
  margin-top: 10px;
  margin-bottom: 10px;
}

.price {
  background-color: white;
  padding-top: 40px;
  padding-bottom: 115px;
}

.price-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 405px;
}

.price-text {
  width: 332px;
  display: flex;
  flex-direction: column;
}

.price-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

.prices-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 332px;
  height: 282px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  margin-top: 60px;
  padding: 34px 41px 34px 41px;
}

.price-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 50px;
  background: #EDF2EC;
  border-radius: 20px;
  padding: 0px 40px 0 40px;
  cursor: pointer;
}

.price-item:hover {
  background:#D6E7D2;
  transition: .5s;
}

.price-item-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.action-btn {
  width: 16px;
  height: 16px;
  background-image: url('./assets/img/accordion_btn.svg');
}

.price-call-us {
  max-width: 452px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

}

.price-call-us-title {
  max-width: 452px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: right;
  color: #000000;
}

.price-btn {
  width: 161px;
  height: 50px;
  border: 1px solid #E06733;
  border-radius: 5px;
  font-family: "Inika", serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #E06733;
  background-color: white;
  cursor: pointer;
}

.price-btn:hover {
background-color: #E06733;
color: #ffffff;
transition: .5s;
}

.price-img-leaf {
  width: 152px;
  height: 172px;
  background-image: url('./assets/img/prices-leafs.png');
}

.contacts {
  padding-top: 53px;
}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
  height: 497px;
}

.contacts-img {
  width: 400px;
  height: 497px;
  background-image: url('./assets/img/contact-woman.png');
}

.contacts-title {
  font-family: "Inika", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
  margin-top: 7px;
  margin-left: 49px;
}

.contacts-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  height: 50px;
  background: #D6E7D2;  ;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  padding: 0px 35px 0 20px;
  margin-top: 95px;
  cursor: pointer;
}

.contacts-list:hover {
  background: #C1E698;
  border: 1px solid #D6E7D2;
  box-shadow: none;
  transition: .5s;
}

.contacts-action-btn {
  width: 16px;
  height: 16px;
  background-image: url('./assets/img/accordion_btn-2.svg');
}

.contacts-item-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #717171;
}

.footer {
  background-color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.footer-git {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 182px;
  height: 50px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  text-decoration: none;
}

.footer-git-link {
  text-decoration: none;
  color: black;
}

.footer-git-link:hover {
  color: #E06733;
  transition: .5s;
}

.footer-link-rss {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  text-decoration: none;
  color: black;
  margin-left: 7px;
}

.footer-link-rss:hover {
  color: #E06733;
  transition: .5s;
}


.footer-social {
  width: 188px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-item-insta {
  text-decoration: none;
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
  }

  .header {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .nav-header {
    height: 47px;
    }

    .welcom {
      padding-top: 40px;
      padding-bottom: 70px;  
    }

    .welcom-wrapper {
      flex-direction: row-reverse;
      align-items: flex-start;
    }

    .welcom-image {
      width: 280px;
      height: 254px;
      background-image: url('./assets/img/leafs.png');
      background-size: cover;
    }

    .welcom-text-box {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      width: 346px;
      height: 310px;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      color: #636060;
    }

    .welcom-text {
      padding-left: 5px;
    }

    .welcom-text-title {
      font-weight: 700;
      font-size: 35px;
      line-height: 50px;
      color: #717171;
      margin-bottom: 0px;
    }

    .btn-welcom {
      width: 158px;
      height: 44px;
      margin-top: 0px;
      border: 2px solid #E06733;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 400;
      color: #000000;
    }

    .about {
      padding-top: 40px;
      padding-bottom: 95px;
    }
    
    .about-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 648px;
    }
    
    .about-text-box {
      width: 100%;
      margin-top: 0px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: #636060;
    }

    .about-text {
      height: 208px;
    }
    
    .about-text-title {
      width: 100%;
      height: 102px;
      font-weight: 400;
      font-size: 35px;
      line-height: 45.6px;
      text-align: center;
      margin-bottom: 0px;
    }
    
    .about-image {
      width: 250px;
      height: 258px;
      background-size: cover;
    }

    .service {
      padding-top: 60px;
      padding-bottom: 70px;
    }

    .service-title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 184px;
      align-items: flex-start;
    }

    .service-title-text {
      width: 306px;
      height: 94px;
      font-family: "Inika", serif;
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 45.6px;
      color: #499A18;
    }

    .service-list {
      height: 1426px;
      margin-top: 40px;
      flex-wrap: wrap;
    }

    .serice-item {
      width: 281px;
      height: 450px;
    }

    .service-item-img img{
      display: flex;
      flex-direction: column;
      width: 280px;
      height: 350px;
      object-fit: cover;
      object-position: 50% 50%;
      border-radius: 20px 20px 0px 0px;
      overflow: scroll;
    }

    .service-item-description {
      padding-left: 38px;
      padding-right: 38px;
      text-align: center;
    }

    .price {
      padding-top: 40px;
      padding-bottom: 88px;
    }
    
    .price-wrapper {
      height: 457px;
    }
    
    .price-title {
      width: 135px;
      font-size: 35px;
      line-height: 42.36px;
      text-align: center;
    }

    .price-call-us-title {
      max-width: 296px;
      margin-top: 100px;
      font-size: 25px;
      line-height: 35px;
    }

    .price-btn {
      margin-bottom: 8px;

    }

    .contacts {
      padding-top: 40px;
    }
    
    .contacts-wrapper {
      flex-direction: column;
      height: 699px;
      align-items: center;
      padding-left: 16%;
      padding-right: 16%;
    }
    
    .contacts-img {
      order: 2;
      width: 200px;
      height: 249px;
      background-size: cover;
      margin-left: 20px;
      margin-top: 150px;
    }

    .contacts-title {
      margin-top: 0px;
      margin-left: 0px;
    }

    .contacts-list {
      width: 100%;
      margin-top: 0px;
    }

    .footer {
      background-color: white;
      padding-top: 33px;
      padding-bottom: 18px;
    }
    
    .footer-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 130px;
    }

    .footer-git {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 173px;
      height: 24px;
      line-height: 24px;
      text-decoration: none;
    }

    .footer-link-rss {
      line-height: 24.2px;
      margin-left: 0px;
    }

}

@media (max-width: 380px) {
  .header {
    padding-top: 36px;
    padding-bottom: 36px;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
  }

  .container {
    max-width: 380px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .header-wrapper {
    height: 24px;
  }

  .gamburger-btn {
    width: 40px;
    height: 24px;
    position: absolute;
    left: calc(100vw - 65px);
    top: 34px;
    z-index: 2;
  }

  .gamburger-btn span {
    width: 40px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: #717171;
    transition: 0.5s;
  }

  .gamburger-btn span:nth-of-type(2) {
    top: 8px;
  }

  .gamburger-btn span:nth-of-type(3) {
    top: 16px;
  }

  .gamburger-btn span:nth-of-type(4) {
    top: 24px;
  }

  .gamburger-btn.activ span:first-of-type {
    top: calc(50% + 0.5px);
    transform: translate(-50%) rotate(45deg);
  }

  .gamburger-btn.activ span:nth-of-type(2) {
    opacity: 0;
  }

  .gamburger-btn.activ span:nth-of-type(3) {
    opacity: 0;
  }

  .gamburger-btn.activ span:nth-of-type(4) {
    top:  calc(50% - 0.5px);
    transform: translate(-50%) rotate(-45deg);
  }
  
  .nav-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 66%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #D6E7D2;
    transform: translateX(-100%);
    transition: transform 0.5s;
  }

  .nav-header.activ {
    transform: translateX(0);
  }

  .welcom {
    padding-top: 24px;
    padding-bottom: 24px;  
  }

  .welcom-image {
    display: none;
  }

  .welcom-text-box {
    height: 252px;
    width: 100%;
  }

  .welcom-text {
    padding-left: 0px;
  }

  .welcom-text-title {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 0px;
  }

  .btn-welcom {
    width: 100px;
    height: 34.14px;
    margin-top: 0px;
    font-size: 10px;
    line-height: 20px
  }

  .about {
    padding-top: 30px;
    padding-bottom: 31px;
  }
  
  .about-wrapper {
    height: 455px;
  }
  
  .about-text-box {
    width: 100%;
    height: 308px;
    margin-top: 0px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 0px;
  }

  .about-text {
    height: 100%;
  }

  .about-text-title {
    width: 100%;
    height: 57.74px;
    font-size: 25px;
    line-height: 32.57px;
    margin-bottom: 21.55px;
  }
  
  .about-image {
    width: 150px;
    height: 147px;
    background-size: cover;
  }

  .service {
    padding-top: 30px;
    padding-bottom: 27px;
  }

  .service-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 252px;
    height: 183px;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .service-title-text {
    width: 187px;
    height: 69px;
    font-size: 25px;
    line-height: 33px;
  }

  .service-btn {
    width: 121px;
    height: 35px;
    font-size: 15px;
    line-height: 20px;
    margin-right: 0px;
  }

  .service-button-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 79px;
  }

  .service-list {
    justify-content: center;
    align-content: space-between;
    height: 2870px;
    margin-top: 40px;
    flex-wrap: wrap;
  }

  .price {
    padding-top: 25px;
    padding-bottom: 40px;
  }
  
  .price-wrapper {
    height: 447px;
    align-items: stretch;
  }

  .price-text {
    align-items: center;
  }
  
  .price-title {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
  }

  .prices-item {
    width: 224px;
    height: 235px;
    margin-top: 37px;
    padding: 29px 22px 29px 22px;
  }
  
  .price-item {
    width: 100%;
    height: 49.72px;
    padding: 0px 40px 0 30px;
  }
  
  .price-item-text {
    font-size: 15px;
    line-height: 20px;
  }

  .price-call-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
  }
  .price-call-us-title {
    max-width: 230px;
    margin-top: 0px;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
  }

  .price-btn {
    width: 121px;
    height: 35px;
    font-size: 15px;
    line-height: 19.54px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .price-img-leaf {
    display: none;
  }
  .contacts {
    padding-top: 25px;
  }
  
  .contacts-wrapper {
    flex-direction: column;
    height: 420.25px;
    align-items: center;
  }
  
  .contacts-img {
    order: 2;
    width: 100px;
    height: 124.25px;
    background-size: cover;
    margin-left: 0px;
    margin-top: 132px;
  }

  .contacts-title {
    font-size: 25px;
    line-height: 32.57px;
    margin-top: 0px;
    margin-left: 0px;
  }
  
  .contacts-list {
    justify-content: space-between;
    width: 300px;
    height: 50px;
    border-radius: 0px;
    padding: 0px 26px 0 20px;
    margin-top: 80px;
  }

  .footer {
    padding-top: 22px;
    padding-bottom: 7px;
  }
  
  .footer-wrapper {
    height: 117px;
  }

  .footer-git {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 173px;
    height: 24px;
    line-height: 24px;
    text-decoration: none;
  }

  .footer-link-rss {
    line-height: 24.2px;
    margin-left: 0px;
    margin-top: 10px;
  }
}