* {
	box-sizing: border-box;
}

  html {
    scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background-color: #EDF2EC;
}

h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}
  
.header {
  background-color: #EDF2EC;
  padding-top: 42px;
  padding-bottom: 42px;
  font-family: "Inika", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: black;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 109px;
  padding-right: 109px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: flex-end;
}

.header-logo-img {
  width: 22px;
  height: 20px;
  padding-left: 2px;
}

.header-logo-text {
  font-family: "Inika", serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  height: 17px;
  padding-left: 1px;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 452px;
  padding-inline-start: 0;
  }

.nav-item {
  list-style-type: none;
  text-decoration: none;
}

.nav-item-link {
  text-decoration: none;
  color: black;
}

.nav-item-activ-link {
  text-decoration: none;
  color: #E06733;
  font-weight: 700;
}

.welcom {
  padding-top: 62px;
  padding-bottom: 62px;

}

.welcom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcom-image {
  width: 449px;
  height: 407px;
  background-image: url('./assets/img/leafs.png');
}

.welcom-text {
  width: 549px;
  height: 340px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
}

.welcom-text-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  margin-bottom: 42px;
}

.text-green {
  color: #499A18;
}

.btn-welcom {
  width: 158px;
  height: 44px;
  margin-top: 48px;
  border: 2px solid #E06733;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.about {
  background-color: white;
  padding-top: 93px;
  padding-bottom: 94px;
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-text {
  margin-top: 4px;
  width: 605px;
  height: 350px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #636060;
}

.about-text-title {
  width: 463px;
  font-family: "Inika", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
  margin-bottom: 40px;
}

.text-orange {
  color: #E06733;
}

.about-image {
  width: 464px;
  height: 479px;
  background-image: url('./assets/img/houseplant\ 1.png');
}

.service {
  padding-top: 40px;
  padding-bottom: 121px;
}

.service-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.service-title {
  display: flex;
  justify-content: space-between;
  width: 1007px;
  height: 94px;
  align-items: center;
}

.service-title-text {
  width: 306px;
  height: 94px;
  font-family: "Inika", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}

.service-button-list {
  width: 559px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-list {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  width: 1222px;
  height: 955px;
  margin-top: 90px;
  flex-wrap: wrap;
}

.service-btn {
  width: 161px;
  height: 50px;
  border: 1px solid #E06733;
  border-radius: 5px;
  font-family: "Inika", serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: #E06733;
}

.serice-item {
  width: 330px;
  height: 450px;
}

.service-item-img {
  display: flex;
  flex-direction: column;
  width: 329px;
  height: 350px;
  border-radius: 20px 20px 0px 0px;
}

.service-item-description {
  display: flex;
  flex-direction: column;
  border: 1px solid #E3E1D5;
  border-radius: 0px 0px 20px 20px;
  height: 100px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
  align-items: center;
}

.service-item-description-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #E06733;
  margin-top: 10px;
  margin-bottom: 10px;
}

.price {
  background-color: white;
  padding-top: 40px;
  padding-bottom: 115px;
}

.price-wrapper {
  display: flex;
  justify-content: space-between;
  height: 405px;
}

.price-text {
  width: 332px;
  display: flex;
  flex-direction: column;
}

.price-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

.prices-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 332px;
  height: 282px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  margin-top: 60px;
  padding: 34px 41px 34px 41px;
}

.price-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 50px;
  background: #EDF2EC;
  border-radius: 20px;
  padding: 0px 40px 0 40px;
}

.price-item-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.action-btn {
  width: 16px;
  height: 16px;
  background-image: url('./assets/img/accordion_btn.svg');
}

.price-call-us {
  width: 452px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.price-call-us-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: right;
  color: #000000;
}

.price-btn {
  width: 161px;
  height: 50px;
  border: 1px solid #E06733;
  border-radius: 5px;
  font-family: "Inika", serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #E06733;
  background-color: white;
}

.price-img-leaf {
  width: 152px;
  height: 172px;
  background-image: url('./assets/img/prices-leafs.png');
}

.contacts {
  padding-top: 53px;
}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
  height: 497px;
}

.contacts-img {
  width: 400px;
  height: 497px;
  background-image: url('./assets/img/contact-woman.png');
}

.contacts-title {
  font-family: "Inika", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
  margin-top: 7px;
  margin-left: 49px;
}

.contacts-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  height: 50px;
  background: #D6E7D2;  ;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  padding: 0px 35px 0 20px;
  margin-top: 95px;
}

.contacts-action-btn {
  width: 16px;
  height: 16px;
  background-image: url('./assets/img/accordion_btn-2.svg');
}

.contacts-item-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #717171;
}

.footer {
  background-color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.footer-git {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 182px;
  height: 50px;
  font-family: 'Inter-', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  text-decoration: none;
}

.footer-git-link {
  text-decoration: none;
  color: black;
}

.footer-link-rss {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  text-decoration: none;
  color: black;
  margin-left: 7px;
}

.footer-social {
  width: 188px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-item-insta {
  text-decoration: none;
}