* {
	box-sizing: border-box;
}

  html {
    scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background-color: #EDF2EC;
}

h1, h2, P, ul, li {
  margin: 0;
  padding: 0;
}
  
.header {
  background-color: #EDF2EC;
  padding-top: 42px;
  padding-bottom: 42px;
  font-family: "Inika", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: black;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 111px;
  padding-right: 109px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: flex-end;
}

.header-logo-img {
  width: 20px;
  height: 20px;
}

.header-logo-text {
  font-family: "Inika", serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  height: 17px;
  padding-left: 1px;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 452px;
  padding-inline-start: 0;
  }

.nav-item {
  list-style-type: none;
  text-decoration: none;
}

.nav-item-link {
  text-decoration: none;
}

.nav-item-activ-link {
  text-decoration: none;
  color: #E06733;
  font-weight: 700;
}